*
{
	margin:0;
}

body{
	background: #02010a;
	color: white;
	font-size: 16px;
	font-family: 'Dancing Script';
  font-size: 14pt;
}

#contenido{
	width: 900px;
	margin: 0 auto;
  min-height: 200px;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}


#tituloCabecera{
  width: 70%;
  text-indent: 15px;
}
#menuCabecera{
  width: 30%;
  font-size: 18pt;
}
#menuCabecera a, #menuCabecera a:hover{
  color: #fff;
  padding: 5px 10px;
}

#menuCabecera a + a::before {
  color: #fff;
  text-decoration: none;
}
#menuCabecera .actual{
  text-decoration: none;
}

#central{
  background: #82c3a6;
  padding: 20px;
}
img{
  width: 100%;
}
#secundaria{
	color:black;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
}
.imgSecundaria{
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
}

.imgPaisaje{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
.imgPaisaje:hover{
  transform: rotate(10deg);
}
.imgRetrato{
  border: 2px solid black;
  -webkit-filter:drop-shadow(3px 3px 6px #82c3a6);
  filter: drop-shadow(3px 3px 6px #82c3a6);
  transition: transform 2s;
}
.imgRetrato:hover{
  transform: translate(20px, -5px);
}

footer{
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background-color: #C6d5c5;
  padding: 15px 0;
  color: black;
  border-radius: 0 0 10px 10px;
}
footer .columna{
  width: 25%;
  box-sizing: border-box;
  padding: 0 15px;
  
}
.icon-social{
  width: 15px;
}

.imgSecundaria1{
  width: 30%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 15px;
  margin-left: 20px;
  
}

#secundaria1{
	color:black;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  background: #d5c75f;
  min-height: 100px;
  padding: 20px 0;
  

}

#imagensuperior{
  filter: blur(10px);
  border: 2px #02010a solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin-top: 10px;
}
#imageninferior{
  filter: grayscale(100%);
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin-top: 10px;

}

#imagensuperior1{
  filter:grayscale(100%);
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin-top: 10px;
}

#imageninferior1{
  filter: sepia(90%);
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin-top: 10px;
}


#imagensuperior2{
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin-top: 10px;
}
#imageninferior2{
  filter: grayscale(100%);
  border-right: 2px solid;
  border-bottom: 2px solid;
  margin-top: 10px;
}

@media screen and (max-width: 1000px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
  #menuCabecera, #tituloCabecera{
    width: 100%;
    text-align: center;
  }
  .imgSecundaria{
    width: 100%;
  }
  .imgSecundaria1{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: #02010a 2px; 
  }
  footer .columna{
    width: 100%;
    margin-bottom: 15px;
  }
  #imagensuperior{
    filter: blur(10px);
    border: 2px #02010a solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: 10px;
  }
  #imageninferior{
    filter: grayscale(100%);
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: 10px;

  }
  
  #imagensuperior1{
    filter:sepia(90%);
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: 10px;
  }

  #imageninferior1{
    filter: grayscale(100%);
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: 10px;
  }


  #imagensuperior2{
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: 10px;
  }
  #imageninferior2{
    filter: grayscale(100%);
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: 10px;
  }
}